<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info </title>
</head>
<body>
    <h1>Employee Information </h1>
    <div><h4>Employee Name: {{employee.name}}</h4></div>
    <div><h4>Employee id: {{employee.id}}</h4></div>
    <div><h4>Employee Email: {{employee.email}}</h4></div>
    <div><h4>Employee Department: {{employee.department}}</h4></div>
    <div><h4>Employee Designation: {{employee.designation}}</h4></div>
    <div><h4>Employee Salary: {{employee.salary}}</h4></div>



</body>
</html>