<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Home Page</title>
    <style>
         div
         {
            margin: 5px;
            padding: 5px;         
        }
        table,th,td
        {
            border:1px solid rgb(184, 59, 21);
            border-collapse: collapse;
            margin:5px;
            padding:5px
        }
    </style>
</head>
<body>
    <div>
        <h1> EMPLOYEE INFORMATION FORM</h1>
        <form action="" method="POST">
               {% csrf_token %}
               <div>
                <label for="name">Name:</label>
                <input type="text" name="name">
               </div>

                <div>
                <label for="id">id:</label>
                <input type="text" name="id">
               </div>

                <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
               </div>

                <div>
                <label for="department">Department:</label>
                <input type="text" name="department">
               </div>

               
                <div>
                <label for="designation">Designation</label>
                <input type="text" name="designation">
               </div>

                <div>
                <label for="salary">Salary:</label>
                <input type="number" name="salary">
               </div>
               <div>
                <button type="submit">Search</button>
               </div>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            {% for employees in employee_records %}
            <tbody>
                <tr>
                    <td>{{employees.name}}</td>
                    <td>{{employees.id}}</td>
                    <td>{{employees.email}}</td>
                    <td>{{employees.department}}</td>
                    <td>{{employees.designation}}</td>
                    <td>{{employees.salary}}</td>
                    <td><a href="employeeinfo/{{employees.id}}">View</a> 
                    <a href="update_employee/{{employees.id}}">Update</a> 
                    <a href="delete_employee/{{employees.id}}">Delete</a> 
                     </td>

                    


                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</body>
</html>