{% extends 'nav.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <!-- {{nm}} -->

     <!-- {{std_id}}
     {{std_name}} -->

     <!-- {{data}}
     {{data.std_id}}
     {{data.std_name}} -->

      <!-- {{cname}}
      {{data.cname}}
       -->
     <ul>
        <li><strong>Course Name:</strong> {{data.cname}}</li>
        <li><strong>Duration :</strong>{{data.duration}}</li>
        <li><strong>Fees:</strong>{{data.cfees}}</li>
        <li><strong>Result:</strong>{{data.result}}</li>
        
     </ul>
     
</body>
</html>

{% endblock body%}