{% extends 'nav.html' %}
{% block body %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
  <h1>Course</h1>
   <!-- {{re}}
    {% if re >= 50 %}
    <h3>result - {{re}} : "enroll python Course"</h3>

    {% elif re >= 40 %}
    <h3>result - {{re}} : "enroll python Course"</h3>
    

    {%else%}
    <h3>result - {{re}} : "not enroll python Course"</h3>
    {% endif %}  -->

    <!-- {{data}}
    {{data.cname}} -->

    {% for i in data.cname %}
    <ul>
        <li>
            {{i}}
        </li>
    </ul>
    {% endfor %}

    {% for i,j in data.items %}
    <ul>
        <li>{{i}} :{{j}}</li>
    </ul>
    {% endfor %}
</body> 
</html>
{% endblock body%}